<extend name="Public:parent" />
<block name="title">
	我的闲置
</block>
<block name="content">
	<div class="men">
		<div class="container">
			<div style="margin:20px;border:1px solid #ccc;height:240px;">
				<div class="col-md-4" style="height:220px;margin:10px;">
					<img src="__PUBLIC__/Home/images/p1.jpg" />
				</div>
				<div class="col-md-7" style="margin:20px 10px 10px;height:220px;font-size:14px;">
					<div>
						<span>标题:</span>
						<label>全新配备retina显示屏的Macbook Pro</label>
					</div>
					<div>
						<span>新旧:</span>
						<label>99新</label>
					</div>
					<div>
						<span>价格:</span>
						<label>17890.00</label> ￥
					</div>
					<div>
						<span>浏览次数:</span>
						<label>190</label> 次
					</div>
					<div>
						<span>发布日期:</span>
						<label>2015-11-11</label>
					</div>
					<div>
						<span>描述:</span>
						<p style="text-indent:2em;">
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
							买到就是赚到!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
