<extend name="Public:parent" />
<block name="content">
	<div class="men">
		<div class="container">
			<div style="width:200px;float:left;border:1px solid #fff">
			</div>
			<div style="height:320px;float:left;">
				<img width="300px;" src="__PUBLIC__/Home/images/sell.jpg">
			</div>
			<div style="margin-top:50px;margin-left:10px;float:left">
				<label>您还没有发布过闲置</label><a style="color:red;text-decoration:none" href="__APP__/Post/post">点此发布</a>
			</div>
		</div>
	</div>
</block>
